################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Bootstrap/Debug
/Debug
/Legacy/Debug
/Tests/Debug
/links.VC.VC.opendb
/links.VC.db
/Tests/Release
/Release
/.vs/links/v14/*.suo
/.vs/links/v15/*.suo
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-2ce25ac3/MAIN-235023c7/*.ipch
/.vs/links/v15/*.db
/.vs/links/v15/*.opendb
/.vs/links/v15/*.db-shm
/.vs/links/v15/*.db-wal
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-bd4f59f9/COMMANDS-203ccb7d/*.ipch
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-bd4f59f9/FILELIST-f07d8d4/*.ipch
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-bd4f59f9/MAIN-f83d1d3d/*.ipch
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-bd4f59f9/PAGE-3cc37d5f/*.ipch
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-bd4f59f9/PAGEBOOTSTRAP-8a09f35d/*.ipch
/Bootstrap/Release/*.log
/Bootstrap/Release/Bootstrap.tlog/*.lastbuildstate
/Bootstrap/Release/Bootstrap.tlog/*.tlog
/Bootstrap/Release/*.obj
/Bootstrap/Release/*.pdb
/Legacy/Release/*.obj
/Legacy/Release/Legacy.tlog/*.tlog
/Legacy/Release/Legacy.tlog/*.lastbuildstate
/Legacy/Release/*.log
/Legacy/Release/*.pdb
/Bootstrap/*.user
*.user
/.vs/links/v15/ipch/AutoPCH/BOOTSTRAP-2ce25ac3
/.vs/links/v15/ipch/AutoPCH
/.vs/links/v15/ipch/AutoPCH
*.url

/Bootstrap/Bootstrap.tlog
*.obj
/Bootstrap/Bootstrap.log
*.idb
*.log
*.pdb
/Bootstrap/Release
/.vs/links/v15/ipch
/BuildQTCreator
/Legacy/Release/Legacy.tlog
/NativeTest/Debug
/NativeTest/x64/Debug
/x64/Debug
/TestFolder/14817423
*.utf8
