################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Bootstrap/Debug
/Debug
/Legacy/Debug
/Tests/Debug
/links.VC.VC.opendb
/links.VC.db
